<footer>
  <div class="container">
    <div class="row layout-1">
      <div class="col-6 col-md">
        <h4 class="m-0">Questions?<br>
          We are happy to help you</h4>
      </div>
      <div class="col-6 col-md pt">
        <a href="#" class="icon">
          <i class="fab fa-facebook-messenger"></i>
          Facebook Messenger
          <span>Answer within 1 hour</span>
        </a>
      </div>

      <div class="col-6 col-md pt">
        <a href="#" class="icon">
          <i class="fas fa-phone"></i>
          +31 (0)416 537 777
        </a>
      </div>

      <div class="col-6 col-md pt">
        <a href="#" class="icon">
          <i class="fas fa-question-circle"></i>
          Frequently asked questions
        </a>
      </div>
    </div>

    <div class="border-top"></div>

    <div class="row layout-2 pt">
      <div class="col-12 col-md">
        <h5>Theme park</h5>
        <ul class="list-unstyled">
          <li><a href="#">Attractions</a></li>
          <li><a href="#">Opening hours</a></li>
          <li><a href="#">Closed attractions</a></li>
          <li><a href="#">Price information</a></li>
          <li></li>
          <li><a href="#">Groups</a></li>
          <li><a href="#">Overnight stays</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About Efteling</h5>
        <ul class="list-unstyled">
          <li><a href="#">History</a></li>
          <li><a href="#">Organisation</a></li>
          <li><a href="#">Fairytales</a></li>
          <li></li>
          <li></li>
          <li><a href="#">Contact &amp; route</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>More Efteling</h5>
        <ul class="list-unstyled">
          <li><a href="#">Meetings &amp; Events</a></li>
          <li><a href="#">Efteling Kids website</a></li>
          <li></li>
          <li><a href="#">Efteling Golf park</a></li>
          <li><a href="#">Efteling apps</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Newsletter</h5>
        <p>Find out everything about Efteling. Receive our newsletter once or twice a month. Containing: the latest
          Efteling news, a unique glimpse behind the scenes, offers and more.</p>
        <form>
          <input type="email" class="form-control" placeholder="Email address">
          <button class="btn btn-primary mt-">Don't miss out!</button>
        </form>
      </div>
    </div>

    <div class="border-top"></div>

    <div class="row layout-3">
      <div class="col-6 col-md">
        <a href="https://www.tripadvisor.co.uk/Attraction_Review-g188584-d262610-Reviews-Efteling-Kaatsheuvel_North_Brabant_Province.html "
           class="mr" rel="noopener noreferrer" target="_blank"><img
            src="../../../assets/images/travellers-choice.png"
            alt=""></a>
      </div>
      <div class="col-6 social col-md d-flex flex-row align-items-center justify-content-end">
        <div>
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div><a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        </div>
        <div><a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <div><a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
        </div>
        <div><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
        </div>

      </div>
    </div>

    <div class="border-top"></div>

    <div class="row">
      <div class="col-12">
        <div class="copyright">
          <span>© Made by Soufyan Bargach</span>
          <span><a href="#">Privacy Statement</a></span>
          <span><a href="#">Terms and conditions</a></span>
        </div>
      </div>
    </div>


  </div>
</footer>
