<section class="section-1">
  <div class="html5-video-container">
    <video autoplay="true" autostart="true" muted="" loop="true" playsinline="">
      <source type="video/mp4"
              src="https://player.vimeo.com/external/277243182.hd.mp4?s=4cb398a8c1f330e466e353c8c0ddfb55d5ae35a6&amp;profile_id=175">
    </video>
  </div>

  <div class="container">
    <div class="time-open">
      <b>Today: 10:00 - 18:00</b><br>
      <a href="">View all opening times</a>
    </div>

    <h1>
      Discover theme park Efteling
    </h1>
  </div>
</section>

<div class="line"></div>


<section class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-img-top"
               [ngStyle]="{'background-image': 'url(https://www.efteling.com/en/-/media/images/nieuw-park/park/seizoenen/herfst/600x450-kindje-luistert-naar-paddenstoel-sprookjesbos.jpg)'}"></div>
          <div class="card-body">
            <p class="title text-red">Theme park</p>
            <p class="card-text">Discover a World of Wonders. Visit the largest theme park of the Netherlands.</p>
            <button class="btn">
              Discover Efteling
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-img-top"
               [ngStyle]="{'background-image': 'url(https://www.efteling.com/en/-/media/images/nieuw-park/park/seizoenen/herfst/600x450-kindje-luistert-naar-paddenstoel-sprookjesbos.jpg)'}"></div>
          <div class="card-body">
            <p class="title text-red">Theme park</p>
            <p class="card-text">Discover a World of Wonders. Visit the largest theme park of the Netherlands.</p>
            <button class="btn">
              Discover Efteling
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-img-top"
               [ngStyle]="{'background-image': 'url(https://www.efteling.com/en/-/media/images/nieuw-park/park/seizoenen/herfst/600x450-kindje-luistert-naar-paddenstoel-sprookjesbos.jpg)'}"></div>
          <div class="card-body">
            <p class="title text-red">Theme park</p>
            <p class="card-text">Discover a World of Wonders. Visit the largest theme park of the Netherlands.</p>
            <button class="btn">
              Discover Efteling
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <button class="btn btn-scroll"><i class="fas fa-chevron-down"></i></button>
  <div class="overlay">
    <div class="container">
      <div class="layout">
        <h2>
          It's springtime at Efteling!
        </h2>
        <hr class="rule">

        <div>
          <p>Come enjoy a spring getaway with the whole family. Discover the flowering nature and have fun in the
            many enchanting attractions!</p>


          <div>
            <a class="btn"
               href="#">
              Must-dos <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="line"></div>

<section class="section-share">
  <div class="container">
    <h2 class="component-title">Share your Efteling-moments</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="block item"
             [ngStyle]="{'background-image': 'url(https://scontent-frx5-1.cdninstagram.com/vp/b602f2f2d767777e79bfeaf41ebf1f92/5D0F7987/t51.2885-15/e35/53243906_315575419133136_6076714415744247387_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com)'}">
          <div class="overlay">
            <div class="profile-info">
              <div class="picture"
                   [ngStyle]="{'background-image': 'url(https://i.ytimg.com/vi/wrWlEPq2EXg/maxresdefault.jpg)'}">
              </div>
              <div class="name">george</div>
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="banner instagram"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block item"
             [ngStyle]="{'background-image': 'url(https://scontent-frx5-1.cdninstagram.com/vp/e2cae515121d7494beb964861397cf29/5D157C2C/t51.2885-15/e35/53615615_703462460051796_1105330578634063421_n.jpg?_nc_ht=scontent-frx5-1.cdninstagram.com)'}">
          <div class="overlay">
            <div class="profile-info">
              <div class="picture"
                   [ngStyle]="{'background-image': 'url(http://www.in-portal.hr/file/images/Jerry-Seinfeld1.jpg)'}">
              </div>
              <div class="name">Sjoerd</div>
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="banner instagram"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block item"
             [ngStyle]="{'background-image': 'url(https://static.orangebuddies.nl/uploads01/www.cashbackkorting.nl/upload/blog/EftelingAchtbaan.jpg)'}">
          <div class="overlay">
            <div class="profile-info">
              <div class="picture"
                   [ngStyle]="{'background-image': 'url())'}">
              </div>
              <div class="name">Soufyan</div>
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="banner instagram"></div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary">See more</button>
    </div>
  </div>
</section>
