<div class="container">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-end">
    <a href="" class="logo">
      <img src="../../../assets/images/logo.png" alt="">
    </a>
    <nav class="">
      <div class="nav-top">
        <div class="meta-navigation">
          <a href="#">Contact & directions</a>
          <a href="#">Login</a>
          <a href="#">EN <img src="../../../assets/images/en.jpg" alt=""></a>
        </div>
      </div>
      <div class="nav-bottom">
        <a class="link" href="#">Discover the theme park</a>
        <a class="link" href="#">Plan your visit</a>
        <a class="link" href="#">Stay overnight</a>
        <a class="link" href="#"><i class="fas fa-search"></i></a>
        <a class="link" href="#"><i class="fas fa-shopping-basket"></i></a>
        <a class="btn btn-primary" href="#">Tickets</a>
      </div>
    </nav>
  </div>
</div>
