$min-width: 320px;
$screen-phone: $min-width;
$min-sm-width: 575px;
$min-md-width: 767px;
$screen-tablet: $min-md-width;
$min-lg-width: 991px;
$screen-desktop: $min-lg-width;
$min-xl-width: 1199px;


$cl-border: #ede5d5;
$cl-white: #ffffff;
$cl-red: #b71234;
$cl-red-dark: #a4102f;
$cl-border-red: #9b0f2c;
$cl-main: #4d3928;
$cl-gray: #737373;
$cl-gray-bg: #a59d95;
$cl-bg: #fafaf7








